:root {
  --text-color: #1a1c20;
  --link-color: #4a76ee;
  --background-color: #eeeff1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  max-width: 1400px;
  margin: 0 auto;
}

a {
  color: var(--link-color);
  text-decoration: none;
}
nav{
    background-color: #cad6e2;
    box-sizing: 3px 3px 5px rgba(94, 43, 99, 0.1);
    text-transform: uppercase;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0  15px;
    text-decoration: none;
    display: flex;
    align-items:center ;
    color: black;
}
nav  a:hover{
    background-color: #c2e99d;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(255, 255,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;justify-content: flex-start;
}
.sidebar li{
    width:100%;

}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
@media(max-width: 760px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}
/* SECTION 1: Hero */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 50px 0;
  margin-bottom: 100px;
  gap: 40px;
}

.hero-section .text {
  flex: 5;
}

.hero-section .text h2 {
  font-size: 45px;
}

.hero-section .text .links {
  margin-top: 25px;
}

.hero-section .text .links a {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--link-color);
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: .1s;
}

.hero-section .text .links a:hover {
  color: var(--text-color);
  border: 2px solid var(--text-color);
}

.hero-section .headshot {
  flex: 2;
  display: flex;
  justify-content: right;
}

.hero-section .headshot img {
  width: 350px;
  border-radius: 50%;
}

/* SECTION 2: Skills */
.skills-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.skills-section h2 {
  text-align: center;
  font-size: 35px;
}

.skills-section .text {
  text-align: center;
  margin-bottom: 20px;
}

.skills-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-section .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid #d3d3d3;
  border-radius: 5px;
  background-color: #cad6e2;
  
}/*
.skills-section .cells .cell:hover {
  background-color: #c2eeec;
  
}*/

.skills-section .cells .cell img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

.skills-section .cells .cell span {
  font-size: 18px;
}

/* SECTION 3: Eucation */
.testimony-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.testimony-section h2 {
  font-size: 35px;
  margin-bottom: 30px;
  text-align: center;
}

.testimony-section .group {
  display: flex;
  align-items: center;
  gap: 50px;
}

.text1 {
  flex: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid #d3d3d3;
  border-radius: 5px;
  background-color: #cad6e2;

  text-align: center;
  margin-bottom: 20px;
}
.text1 span{
   font-size: 18px;
}
.testimony-section .group .text1:hover{
  background-color: #a6dce5;
}

.testimony-section .group .person-details {
  text-align: center;
  flex: 2;
}

.testimony-section .group .person-details img {
  width: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimony-section .group .person-details p {
  font-weight: 600;
}

.testimony-section .group .person-details p:last-child {
  font-weight: normal;
}

.testimony-section .group .text1 {
  flex: 8;
}

/* SECTION 4: Contact */
.contact-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.contact-section h2 {
  font-size: 35px;
    margin-bottom: 30px;
  text-align: center;
}
.pro {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  }
.proj1 {
  flex: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 100px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid #d3d3d3;
  border-radius: 5px;
  background-color: #cad6e2;
  
  text-align: center;
  margin-bottom: 20px;
}/*
.contact-section .pro .proj1:hover{
  background-color: #a6dce5;
}*/
.proj1 span{
   font-size: 18px;
}
/*certificate*/

.certifications-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.certifications-section h2 {
  font-size: 35px;
  margin-bottom: 30px;
  text-align: center;
}
.cer {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  }
.cer1 {
  flex: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
  width: 100px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid #d3d3d3;
  border-radius: 5px;
  background-color: #cad6e2;
  
  text-align: center;
  margin-bottom: 20px;
}
.certifications-section .cer .cer1:hover{
  background-color: #a6dce5;
}
.cer1 span a{
   color:var(--text-color);
   font-size: 18px;

}
@media (max-width: 850px) {
  /* SECTION 1: Hero */
  .hero-section .text h2 {
    font-size: 35px;
  }
}

@media (max-width: 740px) {
  /* SECTION 1: Hero */
  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-section .headshot img {
    width: 300px;
  }

  /* SECTION 3: Testimony */
  .testimony-section {
    text-align: center;
  }

  .testimony-section .group {
    flex-direction: column;
  }

  /* SECTION 4: Contact */
  .contact-section .group {
    flex-direction: column;
  }
}
  /* SECTION 1: Hero */
  .hero-section {
    padding: 0 20px;
  }

  .hero-section .text h2 {
    font-size: 30px;
  }

  /* SECTION 2: Skills */
  .skills-section {
    padding: 0 20px;
  }

  .skills-section .cells .cell span {
    font-size: 16px;
  }

  /* SECTION 3: Testimony */
  .testimony-section {
    padding: 0 20px;
  }

  /* SECTION 4: Contact */
  .contact-section {
    padding: 0 20px;
  }

  .cont1 {
    padding: 0 20px;
    text-align: left;
    margin-bottom: 100px;

  }